__pycache__

# finetune_demo: generated & downloaded files
finetune_demo/output
finetune_demo/data
finetune_demo/formatted_data
ToolAlpaca/
AdvertiseGen/
*.gz
*.idea
chatglm3-6b/
finetune_chatmodel_demo/formatted_data/
finetune_chatmodel_demo/output/
chatglm3-6b-32k/
